.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.125rem;

    transition: .4s;

    &.solid{
        background: $color-blue1;
        color: $color-white;

        &:hover{
            filter: brightness(1.1);
        }
    }

    &.md{
        padding: 0 40px;
        height: 3.625rem;
    }

    &.lg{
        padding: 0 60px;
        height: 4.8125rem;
    }

    &.full{
        width: 100%;
    }
}